<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SAMPLE</title>
<meta charset="utf-8" />
<meta name="description" content="description" />
<meta name="author" content="DevOOPS" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/resources/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css' />
<link th:href="@{/resources/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet" />
<link th:href="@{/resources/plugins/fullcalendar/fullcalendar.css}" rel="stylesheet" />
<link th:href="@{/resources/plugins/xcharts/xcharts.min.css}" rel="stylesheet" />
<link th:href="@{/resources/plugins/select2/select2.css}" rel="stylesheet" />
<link th:href="@{/resources/css/map_daum_sample.css}" rel="stylesheet" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
		<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <script type="text/javascript" th:src="@{https://apis.daum.net/maps/maps3.js(apikey='ce2c8c6d7f79d2ad8464165fcd97e943',libraries='services')}"></script>

  <!--Start Header-->
  <div id="screensaver">
    <canvas id="canvas"></canvas>
    <i class="fa fa-lock" id="screen_unlock"></i>
  </div>
  <header class="navbar">
  <div class="container-fluid expanded-panel">
    <div class="row">
      <div id="logo" class="col-xs-12 col-sm-2">
        <a href="/sample">DevOOPS</a>
      </div>
      <div id="top-panel" class="col-xs-12 col-sm-10">
        <div class="row">
          <div class="col-xs-8 col-sm-4">
            <a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  <!--End Header-->
  <!--Start Container-->
  <div id="main" class="container-fluid">
    <div class="row">
      <div id="sidebar-left" class="col-xs-2 col-sm-2">
        <ul class="nav main-menu">
          <li class="dropdown" th:each="n1 : ${navigation.children}" th:if="${!n1.hide}" th:class="${not #lists.isEmpty(n1.children)} ? 'dropdown'">
            <a th:if="${#lists.isEmpty(n1.children)}" th:href="${n1.path}" th:class="${n1.selected} ? 'active':'' + 'ajax-link'"> <i class="fa fa-bar-chart-o"></i> <span class="hidden-xs" th:text="${n1.name}">Charts</span>
            </a> <a th:if="${!#lists.isEmpty(n1.children)}" th:href="'#'" th:class="${n1.selected} ? 'active ':'' + 'dropdown-toggle'"> <i class="fa fa-bar-chart-o"></i> <span class="hidden-xs" th:text="${n1.name}">Charts</span>
            </a>
            <ul th:if="${!#lists.isEmpty(n1.children)}" class="dropdown-menu">
              <li th:each="n2:${n1.children}" th:if="${!n2.hide}">
                <a th:href="${n2.path}" th:text="${n2.name}" th:class="${n2.selected} ? 'active ':'' + 'ajax-link'">xCharts</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--Start Content-->
      <div id="content" class="col-xs-12 col-sm-10">
        <div id="ajax-content">
          <div th:include="WEB-INF/fragments/login.html :: login"></div>
        </div>
      </div>
      <!--End Content-->
      <div id="modal-overlay" style="display:none;">
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <img th:src="@{/resources/img/devoops_getdata.gif}" class="devoops-getdata" alt="preloader" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Container-->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--<script src="http://code.jquery.com/jquery.js"></script>-->
  <script th:src="@{/resources/plugins/jquery/jquery-2.1.0.min.js}"></script>
  <script th:src="@{/resources/plugins/jquery-ui/jquery-ui.min.js}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script th:src="@{/resources/plugins/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{/resources/plugins/justified-gallery/jquery.justifiedgallery.min.js}"></script>
  <script th:src="@{/resources/plugins/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/resources/plugins/tinymce/jquery.tinymce.min.js}"></script>
  <!-- All functions for this theme + document.ready processing -->
  <script th:src="@{/resources/js/devoops.js}"></script>
  <!--   <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script> -->
</body>

</html>