<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Tables</a>
      </li>
      <li>
        <a href="#">Data Tables</a>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <span>지역별 상세 정보 : </span>
          <span th:text="${classification}"></span>
          <button class="btn pull-right" onclick="onClickGoToMainPage();">돌아가기</button>
        </div>
        <div class="no-move"></div>
      </div>
      <!-- <div id="container" style="width: 100%; height: 400px;"></div> -->
      <div class="col-xs-12 col-sm-12 box-content table-responsive">
        <table id="readClassification" th:if="${total_market_entity}" class="table display table-striped table-hover table-heading table-datatable">
          <thead>
            <tr>
              <th style="text-align: center;">순번</th>
              <th style="text-align: center;">DATE</th>
              <th style="text-align: center;">매매가</th>
              <th style="text-align: center;">전세가</th>
              <th style="text-align: center;">전세율</th>
              <th style="text-align: center;">매매증감</th>
              <th style="text-align: center;">전세증감</th>
            </tr>
          </thead>
          <tfoot style="height: 0px;">
          </tfoot>
          <tbody>
            <tr th:each="entity, idx : ${total_market_entity}">
              <td style="text-align: center;" th:text="${idx.count}">1</td>
              <td style="text-align: center;" th:text="${#dates.format(entity.date, 'yyyy-MM-dd')}">1</td>
              <td style="text-align: center;" th:if="${entity.sellingPrice}" th:text="${#numbers.formatDecimal(entity.sellingPrice, 1, 0, 'POINT')}">13.10</td>
              <td style="text-align: center;" th:unless="${entity.sellingPrice}" th:text="'-'">13.10</td>
              <td style="text-align: center;" th:if="${entity.leasePrice}" th:text="${#numbers.formatDecimal(entity.leasePrice, 1, 0, 'POINT')}">13.10</td>
              <td style="text-align: center;" th:unless="${entity.leasePrice}" th:text="'-'">13.10</td>
              <td style="text-align: center;" th:if="${entity.ginRate}"><span th:if="${entity.ginRate}>=80.0" style="color: #ff000a;" th:text="${#numbers.formatDecimal(entity.ginRate, 1, 2, 'POINT')}" /> <span th:if="${entity.ginRate}>=70.0 and 80.0>${entity.ginRate}" style="color: #ff7f27;" th:text="${#numbers.formatDecimal(entity.ginRate, 1, 2, 'POINT')}" /> <span th:if="${entity.ginRate}>=60.0 and 70.0>${entity.ginRate}" style="color: #22b14c;" th:text="${#numbers.formatDecimal(entity.ginRate, 1, 2, 'POINT')}" /> <span th:if="60.0>${entity.ginRate} " style="color: black;" th:text="${#numbers.formatDecimal(entity.ginRate, 1, 2, 'POINT')}" /></td>
              <td style="text-align: center;" th:unless="${entity.ginRate}" th:text="'-'">13.10</td>
              <td style="text-align: center;" th:if="${entity.ginSelling}"><span th:if="${entity.ginSelling}>=6.0" style="color: #ff000a;" th:text="${#numbers.formatDecimal(entity.ginSelling, 1, 2, 'POINT')}" /> <span th:if="${entity.ginSelling}>=4.0 and 6.0>${entity.ginSelling}" style="color: #ff7f27;" th:text="${#numbers.formatDecimal(entity.ginSelling, 1, 2, 'POINT')}" /> <span th:if="${entity.ginSelling}>=2.0 and 4.0>${entity.ginSelling}" style="color: #22b14c;" th:text="${#numbers.formatDecimal(entity.ginSelling, 1, 2, 'POINT')}" /> <span th:if="2.0>${entity.ginSelling} " style="color: black;" th:text="${#numbers.formatDecimal(entity.ginSelling, 1, 2, 'POINT')}" /></td>
              <td style="text-align: center;" th:unless="${entity.ginSelling}" th:text="'-'">13.10</td>
              <td style="text-align: center;" th:if="${entity.ginLease}"><span th:if="${entity.ginLease}>=6.0" style="color: #ff000a;" th:text="${#numbers.formatDecimal(entity.ginLease, 1, 2, 'POINT')}" /> <span th:if="${entity.ginLease}>=4.0 and 6.0>${entity.ginLease}" style="color: #ff7f27;" th:text="${#numbers.formatDecimal(entity.ginLease, 1, 2, 'POINT')}" /> <span th:if="${entity.ginLease}>=2.0 and 4.0>${entity.ginLease}" style="color: #22b14c;" th:text="${#numbers.formatDecimal(entity.ginLease, 1, 2, 'POINT')}" /> <span th:if="2.0>${entity.ginLease} " style="color: black;" th:text="${#numbers.formatDecimal(entity.ginLease, 1, 2, 'POINT')}" /></td>
              <td style="text-align: center;" th:unless="${entity.ginLease}" th:text="'-'">13.10</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
<!-- <script th:inline="javascript">
  /*<![CDATA[*/
  var classification;
  $(document).ready(
          function() {
            classification = /*[[${classification}]]*/"";

            var seriesOptions = [], seriesCounter = 0, types = ['GinRate',
                'GinSelling', 'GinLease'], names = ['전세가율', '매매증감율', '전세증감율'];

            $.each(names, function(i, name) {
              $.ajax({
                url: '/service/market/totalMarket',
                data: {
                  'classification': classification,
                  'type': types[i]
                },
                success: function(response) {
                  if (i == 0) {
                    seriesOptions[i] = {
                      name: name,
                      data: $.parseJSON(response),
                      yAxis: 0,
                      tooltip: {
                        valueDecimals: 2
                      },
                    };

                  } else {
                    seriesOptions[i] = {
                      name: name,
                      data: $.parseJSON(response),
                      yAxis: 1,
                      tooltip: {
                        valueDecimals: 2
                      },
                    };
                  }

                  // As we're loading the data asynchronously, we don't know what order it will arrive. So
                  // we keep a counter and create the chart when all the data is loaded.
                  seriesCounter += 1;
                  if (seriesCounter === names.length) {
                    createChart();
                  }
                }
              });
            });

            function createChart() {

              $('#container').highcharts('StockChart', {
                rangeSelector: {
                  selected: 5
                },

                //title : {
                //    text : '지인지수 차트 : ' + classification
                //},

                yAxis: [{ // Primary yAxis
                  labels: {
                    format: '{value} %',
                    style: {
                      color: Highcharts.getOptions().colors[0]
                    }
                  },
                  title: {
                    text: names[0],
                    style: {
                      color: Highcharts.getOptions().colors[0]
                    }
                  },
                  opposite: false
                }, { // Primary yAxis
                  labels: {
                    format: '{value} %',
                    style: {
                      color: Highcharts.getOptions().colors[1]
                    }
                  },
                  title: {
                    text: "증감율",
                    style: {
                      color: Highcharts.getOptions().colors[1]
                    }
                  }
                }],
                series: seriesOptions
              });
            }

          });
  /*]]>*/
</script> -->
<script th:src="@{/resources/js/sample-read-classification.js}" type="text/javascript"></script>

